<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <DeivisonArthur_OnepageCheckout>
            <version>4.0.0</version>
        </DeivisonArthur_OnepageCheckout>
    </modules>

    <admin>
        <fieldsets>
            <customer_dataflow>
                <rg><billing>1</billing><shipping>1</shipping></rg>
                <celular><billing>1</billing><shipping>1</shipping></celular>
            </customer_dataflow>
        </fieldsets>
    </admin>

    <global>

        <resources>
            <onepagecheckout_setup>
                <setup>
                    <module>DeivisonArthur_OnepageCheckout</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onepagecheckout_setup>
            <onepagecheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onepagecheckout_write>
            <onepagecheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onepagecheckout_read>
        </resources>

        <fieldsets>
            <sales_copy_order_billing_address>
                <rg><to_order>*</to_order></rg>
                <celular><to_order>*</to_order></celular>
            </sales_copy_order_billing_address>

            <sales_copy_order_shipping_address>
                <rg><to_order>*</to_order></rg>
                <celular><to_order>*</to_order></celular>
            </sales_copy_order_shipping_address>

            <sales_convert_quote_address>
                <rg><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></rg>
                <celular><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></celular>
            </sales_convert_quote_address>

            <sales_convert_order_address>
                <rg><to_quote_address>*</to_quote_address></rg>
                <celular><to_quote_address>*</to_quote_address></celular>
            </sales_convert_order_address>

            <customer_address>
                <rg><to_quote_address>*</to_quote_address></rg>
                <celular><to_quote_address>*</to_quote_address></celular>
            </customer_address>

            <checkout_onepage_billing>
                <rg><to_customer>*</to_customer></rg>
                <celular><to_customer>*</to_customer></celular>
            </checkout_onepage_billing>
        </fieldsets>

        <models>
            <onepagecheckout>
                <class>DeivisonArthur_OnepageCheckout_Model</class>
            </onepagecheckout>
            <onepagecheckout_adminhtml>
                <class>DeivisonArthur_OnepageCheckout_Adminhtml_Model</class>
            </onepagecheckout_adminhtml>
        </models>

        <blocks>
            <checkout>
                <rewrite>
                    <links>DeivisonArthur_OnepageCheckout_Block_Links</links>
                </rewrite>
            </checkout>
            <onepagecheckout>
                <class>DeivisonArthur_OnepageCheckout_Block</class>
            </onepagecheckout>
        </blocks>

        <helpers>
            <checkout>
                <rewrite>
                    <url>DeivisonArthur_OnepageCheckout_Helper_Url</url>
                </rewrite>
            </checkout>
            <onepagecheckout>
                <class>DeivisonArthur_OnepageCheckout_Helper</class>
            </onepagecheckout>
        </helpers>

    </global>

    <frontend>

        <routers>
            <onepagecheckout>
                <use>standard</use>
                <args>
                    <module>DeivisonArthur_OnepageCheckout</module>
                    <frontName>onepagecheckout</frontName>
                </args>
            </onepagecheckout>
        </routers>

        <translate>
            <modules>
                <DeivisonArthur_OnepageCheckout>
                    <files>
                        <default>DeivisonArthur_OnepageCheckout.csv</default>
                    </files>
                </DeivisonArthur_OnepageCheckout>
            </modules>
        </translate>

        <layout>
            <updates>
                <onepagecheckout>
                    <file>onepagecheckout.xml</file>
                </onepagecheckout>
            </updates>
        </layout>

        <events>

            <sales_model_service_quote_submit_after>
                <observers>
                    <onepagecheckout>
                        <type>model</type>
                        <class>onepagecheckout/observer</class>
                        <method>removeHistoryComment</method>
                    </onepagecheckout>
                </observers>
            </sales_model_service_quote_submit_after>

            <sales_model_service_quote_submit_before>
                <observers>
                    <onepagecheckout>
                        <type>model</type>
                        <class>onepagecheckout/observer</class>
                        <method>addHistoryComment</method>
                    </onepagecheckout>
                </observers>
            </sales_model_service_quote_submit_before>

            <controller_action_layout_render_before_checkout_cart_index>
                <observers>
                    <onepagecheckout>
                        <class>onepagecheckout/observer</class>
                        <method>setEmptyCartTemplate</method>
                    </onepagecheckout>
                </observers>
            </controller_action_layout_render_before_checkout_cart_index>

        </events>
    </frontend>

    <adminhtml>

        <translate>
            <modules>
                <IWD_OnepageCheckout>
                    <files>
                        <default>DeivisonArthur_OnepageCheckout.csv</default>
                    </files>
                </IWD_OnepageCheckout>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onepagecheckout translate="title" module="onepagecheckout">
                                            <title>One Page Checkout Section</title>
                                        </onepagecheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>

        <onepagecheckout>
            <general>
                <enabled>1</enabled>
                <title>Finalize a sua compra</title>
                <taxvat>1</taxvat>
                <payment_method>akatus</payment_method>
                <country>BR</country>
            </general>

            <agreements>
                <enabled>0</enabled>
                <output>minimal</output>
            </agreements>

            <geo_ip>
                <country>0</country>
                <country_file></country_file>
                <city>0</city>
                <city_file></city_file>
            </geo_ip>
        </onepagecheckout>

    </default>

    <admin>
        <routers>
            <onepagecheckout>
                <use>admin</use>
                <args>
                    <module>DeivisonArthur_OnepageCheckout</module>
                    <frontName>onepagecheckout</frontName>
                </args>
            </onepagecheckout>
        </routers>
    </admin>

</config>
